.Skill {
  display: flex;
  align-items: center;
  gap: 1rem;

  &-label {
    // flex-grow: 1;
    width: 35%;
    flex-shrink: 0;
  }

  &-progress {
    width: auto;
    // flex-grow: 3;
    flex: 1 1 auto;
    flex-shrink: 0;
  }
}