@mixin flex-full {
  display: flex;
  width: 100%;
  height: 100%;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin pretty-scroll {
  overflow: auto;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 5px;
    background: none;
    box-shadow: none;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color-gray;
    border-radius: 30px;
    box-shadow: none;
    background-clip: content-box;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent
  }
}