@import './variables';
@import './mixins';

html {
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  overflow-x: hidden;
  background: $bg-color;
}

body {
  display: flex;
  width: 100%;
  // height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $bg-color !important;
}

#root {
  width: 100%;
  height: 100%;
  color: $base-font-color;
  background-color: $bg-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pretty-scroll {
  @include pretty-scroll;
}
