.Progress {
  display: flex;
  align-items: center;
  font-size: 13px;

  &-line {
    position: relative;
    display: flex;
    height: 0.3rem;
    width: 100%;
    background-color: rgb(220, 220, 220);
    border-radius: 5px;
    overflow: hidden;

    &-fill {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      border-radius: 5px;
    }
  }

  &-value {
    margin-left: 0.6rem;
    font-weight: bold;
    width: 1.5rem;
    text-align: end;
  }
}
