.App {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 2rem;

  &-content {
    width: 55rem;
    height: 100%;
    padding: 2rem 3rem 3rem 3rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 10px 20px rgba(133, 133, 133, 0.5);
  }

  &-lang {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
